body {
    display:flex;
    margin:0;
    padding:0;
    background: linear-gradient(red, black);
    background-size: cover;
    background-position: center;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.container {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    width:50vw;
    height:90vh;
    text-align: center;
    border: 2px solid white;
    background-color: rgba(255,255,255,0.5);
}

.container button {
    border: none;
    background-color: red;
    color:white;
    width:20vw;
    height:5vh;
    border-radius: 20px;
}

.container h1 {
    text-shadow: -1px -1px 1px black;
}

.container p {
    font-size: larger;
}

#counter {
    background-color: rgba(255,0,0, 0.1);
    width: 10vw;
    border:1px solid white; 
}